* {
  box-sizing: 0;
}
body {
  background: white;
  height: 300vh;
}
.top {
  position: sticky;
  top: 0;
  display: flex;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}

a {
  text-decoration: none;
  position: relative;
  left: 55%;
  padding: 20px;
  font-size: 20px;
  color: black;
}
a:hover {
  color: antiquewhite;
  font-size: 25px;
}
.HieuTran {
  padding-left: 20px;
}
img {
  opacity: 90%;
  width: 100%;
}
.IDK {
 position: absolute;
 top: 200px;
 font-size: 60px;
 left: 50px;
}
